.contact {
  border: 2px solid red;
  width: 100%;
  min-height: 80vh;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.contact-info{
  border: 2px dashed darkcyan;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info > img{
  width: 300px;
  height: auto;
}

.contact-links{
  border: 2px solid rgb(4, 4, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}