.projects {
  border-left: 2px solid black;
  border-right: 2px solid black;
  min-height: 80vh;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 770px) {
  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
