nav {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

h1{
  border: 2px solid red;
  width: 100%;
  height: 50%;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.top-nav > img {
  width: 25%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
  border-right: 2px solid black;
}

.title {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
  gap: 10px;
  border-right: 2px solid black;
}

.title > p{
  border: 2px solid rgb(20, 250, 81);
  width: 100%;
  height: 25%;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.forecast {
  border: 2px solid darkblue;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.forecast > button {
  border: 2px solid rgb(42, 44, 72);
  color: inherit;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#themeImg{
  border: 2px solid red;
  width: 60%;
  height: auto;
}

nav > ul {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav > ul > li {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:nth-child(-n + 3) {
  border-right: 2px solid black;
}

nav a {
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: var(--highlight);
  font-weight: bold;
}
