footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

footer p {
  border-right: 2px solid black;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-links li{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links img {
  height: 50px;
  width: auto;
}

.social-links img:hover{
  scale: 1.1;
}
