.about {
    min-height: 80vh;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  
  @media (max-width: 770px) {
    .about {
      padding: 0 2rem;
    }
  }
  
  .articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  
  @media (max-width: 770px) {
    .articles-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }