.home {
  width: 100%;
  min-height: 80vh;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.home > article{
  width: 100%;
  height: 100%;
  padding: var(--spacing);
  gap: var(--spacing);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h2{
  padding: var(--spacing);
}

.body-article{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

.body-article img{
  width: 50%;
  height: 100%;
  object-fit: cover;
}


.personal-information{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

.personal-information > h3{
  font-size: 2rem;
  color: var(--highlight);
}

.personal-information > span{
  text-align: center;
  text-decoration: double;
  color: #ff4000c6;
}

.personal-information > p{
  text-align: center;
}